{% extends 'base.html' %}
{% load static %}
{% block content %}



{% block index %}

			<div class="nav-social-btn">
				<a href="#" class="twitter-btn"><i class="fa fa-twitter-square"></i></a>
				<a href="#" class="facebook-btn"><i class="fa fa-facebook-square"></i></a> 
				<a href="#" class="pinterest-btn"><i class="fa fa-pinterest-square"></i></a> 
				<a href="#" class="youtube-btn"><i class="fa fa-youtube-square"></i></a>
				<a href="#" class="rss-btn"><i class="fa fa-vimeo-square"></i></a>
			</div><!-- /.nav-social-btn --> 
		</div><!-- /#main-menu -->

	</div><!-- /.main-menu-continer -->
	<!-- Menu End --> 
	<div class="container">
		<div class="row">  

			<!-- Main Container -->
			<div id="main-container"  class="main-container pull-right" > 

				<!-- Top Section -->
				<section id="top-section" class="parallax-style">
					<div class="top-section overlay-normal">  
						<div id="top-carousel" class="carousel slide top-carousel-container" data-ride="carousel">
							<ol class="carousel-indicators">
								<li data-target="#top-carousel" data-slide-to="0" class="active"></li>
								<li data-target="#top-carousel" data-slide-to="1"></li>
								<li data-target="#top-carousel" data-slide-to="2"></li>
							</ol><!-- /.carousel-indicators -->
							<div class="carousel-inner">
								<div class="item active">
									<h3 class="top-heading-1"> AS </h3> 
									<h3 class="top-heading-2"> Foody Love  </h3>
									<h3 class="top-heading-3"> The perfect place for food lover. </h3> 
									<div class="btn-container">
										<a href="#" class="btn btn-sm btn-light-green">Перейти к инструкции</a>
									</div><!-- /.btn-container -->
								</div><!-- /.item -->

								<div class="item"> 
									<h3 class="top-heading-1"> AS</h3> 
									<h3 class="top-heading-2"> Real Time Test </h3>
									<h3 class="top-heading-3"> The perfect Test for food lover. </h3> 
									<div class="btn-container">
										<a href="#" class="btn btn-sm btn-light-green">Перейти к инструкции</a>
									</div><!-- /.btn-container -->
								</div><!-- /.item -->

								<div class="item"> 
									<h3 class="top-heading-1">AS </h3> 
									<h3 class="top-heading-2"> Friend & Family </h3>
									<h3 class="top-heading-3"> The perfect place for Enjoyment.</h3> 
									<div class="btn-container">
										<a href="#" class="btn btn-sm btn-light-green">Перейти к инструкции</a>
									</div><!-- /.btn-container -->
								</div><!-- /.item -->

							</div><!-- /.carousel-inner -->

							<a class="slide-nav left" href="#top-carousel" data-slide="prev">
								<span class="nav-icon"><i class="fa fa-chevron-left"></i></span>
							</a><!-- /.slide-nav.left -->
							<a class="slide-nav right" href="#top-carousel" data-slide="next">
								<span class="nav-icon"><i class="fa fa-chevron-right"></i></span>
							</a><!-- /.slide-nav.right -->

						</div><!-- /#top-carousel /.top-carousel-container -->
						<div id="next-section" class="next-section">
							<span class="go-to-next">
								<i class="fa fa-angle-double-down"></i>
							</span>
						</div><!-- /.next-section -->
					</div><!-- /.top-section -->
				</section><!-- /#top-section -->
				<!-- Top Section End -->




				<!-- Welcome Section --> 
				<section id="welcome">
					<div class="welcome-section section-padding">
						<div class="section-title-container">
							<h2 class="section-title">Добро пожаловать!</h2>
						</div><!-- /.section-title-container -->

						<div class="row">
							<div id="welcome-slider"  class="owl-carousel owl-theme"> 
								<div class="item col-xs-12">
									<div class="welcome-post wow fadeIn animated" data-wow-delay="0.1s">
										<div class="hex welcome-hex">
											<span class="hex-icon">
												<i class="fa fa-glass"></i>
											</span><!-- /.hex-icon -->
										</div><!-- /.welcome-hex -->
										<h3 class="welcome-title"> Delicious Food </h3> 
										<p class="welcome-texts">
											...
										</p><!-- /.welcome-texts -->
									</div><!-- /.welcome-post -->
								</div><!-- /.item -->


								<div class="item col-xs-12">
									<div class="welcome-post wow fadeIn animated" data-wow-delay="0.2s">
										<div class="hex welcome-hex">
											<span class="hex-icon">
												<i class="fa fa-birthday-cake"></i>
											</span><!-- /.hex-icon -->
										</div><!-- /.welcome-hex -->
										<h3 class="welcome-title"> Fresh </h3>
										<p class="welcome-texts">
											...
										</p><!-- /.welcome-texts -->
									</div><!-- /.welcome-post -->							
								</div><!-- /.item -->


								<div class="item col-xs-12">
									<div class="welcome-post wow fadeIn animated" data-wow-delay="0.3s">
										<div class="hex welcome-hex">
											<span class="hex-icon">
												<i class="fa fa-thumbs-o-up"></i>
											</span><!-- /.hex-icon -->
										</div><!-- /.welcome-hex -->
										<h3 class="welcome-title"> TopClass Service </h3> 
										<p class="welcome-texts">
											...
										</p><!-- /.welcome-texts -->
									</div><!-- /.welcome-post -->
								</div><!-- /.item -->
							</div><!-- /#welcome-slider --> 
						</div><!-- /.row -->

						<div class="best-deal">
							<img src="{% static 'images/welcome/foods-in-tray.jpg' %}" alt="Foods Image" class="foods-img">
							<div class="best-deal-content">
								<div class="row">
									<div class="col-sm-6 pull-right">
										<h3 class="deal-txt-1"> Вперёд в будущее! </h3>
										<h3 class="deal-txt-2"> AS - помощь новым невестам  </h3>
										<h4 class="deal-txt-3"> Мы за <span>AS</span> </h4>
									</div><!-- /.col-sm-6 -->
								</div><!-- /.row -->
							</div><!-- /.best-deal-content -->
						</div><!-- /.best-deal -->

					</div><!-- /.welcome-section -->
				</section><!-- /#welcome -->
				<!-- Welcome Section End --> 




				<!-- Our Menus -->
				<section id="our-menus">
					<div class="our-menu section-padding">
						<div class="section-title-container">
							<h2 class="section-title">Меню ресторанов</h2>
						</div><!-- /.section-title-container -->

						<div class="row">
							<div class="col-md-4">
								<article class="menus-container wow fadeIn animated" data-wow-delay="0.1s">
									<div class="featured-img">
										<img src="{% static 'images/menus/breakfast.jpg' %}" alt="Breakfast Menus Image"> 
										<a href="{% static 'images/menus/breakfast-big.jpg' %}" class="boxer img-link"></a>
									</div><!-- /.featured-img -->
									<h4 class="item-title"> Sushi you </h4>
									<div class="item-entry">
										<p>
											...
										</p>
									</div><!-- /.item-entry -->
								</article><!-- /.menus-container -->
							</div><!-- /.col-md-4 -->

							<div class="col-md-4">
								<article class="menus-container wow fadeIn animated" data-wow-delay="0.2s">
									<div class="featured-img">
										<img src="{% static 'images/menus/lunch.jpg' %}" alt="Lunch Menus Image">
										<a href="{% static 'images/menus/lunch-big.jpg' %}" class="boxer img-link"></a>
									</div><!-- /.featured-img -->
									<h4 class="item-title"> Breadberry </h4>
									<div class="item-entry">
										<p>
											...
										</p>
									</div><!-- /.item-entry -->
								</article><!-- /.menus-container -->
							</div><!-- /.col-md-4 -->

							<div class="col-md-4">
								<article class="menus-container wow fadeIn animated" data-wow-delay="0.1s">
									<div class="featured-img">
										<img src="{% static 'images/menus/desert.jpg' %}" alt="Desert Menus Image">
										<a href="{% static 'images/menus/desert-big.jpg' %}" class="boxer img-link"></a>
									</div><!-- /.featured-img -->
									<h4 class="item-title"> SteakHouse </h4>
									<div class="item-entry">
										<p>
											...
										</p>
									</div><!-- /.item-entry -->
								</article><!-- /.menus-container -->
							</div><!-- /.col-md-4 --> 

						</div><!-- /.row -->
						<div class="btn-container">
							<a href="#" class="btn btn-sm btn-orange">Посмотреть все рестораны</a>
						</div><!-- /.btn-container -->

					</div><!-- /.our-menu -->
				</section><!-- /#our-menus -->
				<!-- Our Menus End -->
				<!-- Book Table -->
				<section id="book-table" class="parallax-style">
					<div class="book-table overlay-light section-padding">
						<div class="section-title-container">
							<h2 class="section-title">Собери своё блюдо! </h2>
						</div><!-- /.section-title-container -->

						<div class="choose-table">
							<section class="ab-info-main py-md-5 py-4 editContent"
								style="padding-left: 3rem; padding-right: 3rem;">

								<div class="row">
								{% block sidebar %}
									<div class="side-bar col-lg-3">
								{% endblock sidebar %}
								{% include 'include/sidebar.html' %}
								</div>
								{% block dish %}
								{% endblock dish %}
							</div>
							</div>
						</section>
						</div><!-- /.choose-table --> 
					</div><!-- /.book-table -->
				</section><!-- /#book-table -->
				<!-- Book Table  End -->

				<!-- Events -->
				<section id="events">
					<div class="events section-padding"> 
						<div class="section-title-container">
							<h2 class="section-title">Events </h2>
						</div><!-- /.section-title-container -->
						<div class="event-container">
							<div class="row">
								<div class="col-sm-6">
									<div class="event-item wow fadeIn animated" data-wow-delay="0.1s">
										<div class="event-img">
											<img src="{% static 'images/event/event-1.jpg' %}" alt="Event 1">
										</div><!-- /.event-img -->
										<div class="event-time">
											<span class="event-month">September</span>
											<span class="event-date">23</span>
											<span class="event-year">2014</span>
										</div><!-- /.event-time -->
										<h3 class="event-title">Valentine's Day Special</h3>
										<div class="event-place">
											<strong>Place:</strong>1612 Collins Street West, Victoria 8007 Australia.
										</div>
										<div class="event-time-h"><strong>Time:</strong>7:30pm </div>
									</div><!-- /.event-item -->
								</div>

								</div>
							</div><!-- /.row --> 
						</div><!-- /.event-container -->
					</div><!-- /.events -->
				</section><!-- /#event -->
				<!-- Events End -->




				<!-- Mobile App Section --> 
				<section id="mobile-app" class="parallax-style">
					<div class="mobile-app overlay-normal section-padding">
						<div class="row">
							<div class="col-sm-5">
								<div class="mobile-container wow fadeIn animated" data-wow-delay="0.1s">
									<img class="mobile-img" src="{% static 'images/mobile-app/mobile.png' %}" alt="Mobile">
								</div><!-- /.mobile-containe -->
							</div><!-- /.col-sm-5 -->

							<div class="col-sm-7">
								<h2 class="apps-title">
									Happy to Announce
									<span>Mobile App</span>
									is Available in every os platform. 
								</h2><!-- /.apps-title -->
								<div class="btn-container">
									<a href="#" class="btn btn-sm btn-light-green">Download Now</a>
								</div><!-- /.btn-container -->
							</div><!-- /.col-sm-7 --> 
						</div><!-- /.row --> 
					</div><!-- /.mobile-app -->
				</section><!-- /#mobile-app -->
				<!-- Mobile App Section End -->

				<!-- Our Crew -->
				<section id="our-crew">
					<div class="our-crew section-padding">
						<div class="section-title-container">
							<h2 class="section-title">Наша команда </h2>
						</div><!-- /.section-title-container --> 
						<div class="crew-container">
							<div class="row">
								<div id="crew-slider"  class="owl-carousel owl-theme">
									<div class="item col-xs-12">
										<div class="crew-member-box wow fadeIn animated" data-wow-delay="0.1s">
											<h4 class="crew-name"> Амина </h4>
											<h5 class="crew-designation">Генератор идей</h5>
											<p class="about-crew">
												Амина - этим всё сказано
											</p><!--  /.about-crew -->
											<div class="crew-photo">
												<img src="{% static 'images/crew/Амина.jpg' %}" alt="Crew Photo">
											</div><!-- /.crew-photo -->
										</div><!-- /.crew-member-box -->
									</div><!-- /.item -->

									<div class="item col-xs-12">
										<div class="crew-member-box wow fadeIn animated" data-wow-delay="0.2s">
											<h4 class="crew-name">Муслим</h4>
											<h5 class="crew-designation">Эксперт</h5>
											<p class="about-crew">
												Эксперт = еврей 
											</p><!--  /.about-crew -->
											<div class="crew-photo">
												<img src="{% static 'images/crew/2.png' %}" alt="Crew Photo">
											</div><!-- /.crew-photo -->
										</div><!-- /.crew-member-box -->
									</div><!-- /.item -->


									<div class="item col-xs-12">
										<div class="crew-member-box wow fadeIn animated" data-wow-delay="0.3s">
											<h4 class="crew-name">Дени</h4>
											<h5 class="crew-designation">Лидер</h5>
											<p class="about-crew">
												Босс, а не лидер
											</p><!--  /.about-crew -->
											<div class="crew-photo">
												<img src="{% static 'images/crew/2.png' %}" alt="Crew Photo">
											</div><!-- /.crew-photo -->
										</div><!-- /.crew-member-box -->
									</div><!-- /.item -->


									<div class="item col-xs-12">
										<div class="crew-member-box wow fadeIn animated" data-wow-delay="0.3s">
											<h4 class="crew-name">Ахмед</h4>
											<h5 class="crew-designation">Реализатор</h5>
											<p class="about-crew">
												Ахмед >>> весь мир
											</p><!--  /.about-crew -->
											<div class="crew-photo">
												<img src="{% static 'images/crew/2.png' %}" alt="Crew Photo">
											</div><!-- /.crew-photo -->
										</div><!-- /.crew-member-box -->
									</div><!-- /.item --> 
								</div><!-- /#crew-slider -->
							</div><!-- /.row -->
						</div><!-- /.crew-container --> 
					</div><!-- /.our-crew --> 
				</div>
				</section><!-- /#our-crew -->
				<!-- Our Crew End -->


				<!-- Contact Us -->
				<section id="contact">
					<div class="contact-section section-padding">
						<div class="section-title-container">
							<h2 class="section-title">Contact Us </h2>
						</div><!-- /.section-title-container -->
                        <form action="" method="post">
							{% csrf_token %}
							<div class="container py-5">
								<div class="row py-5">
									<form class="col-md-9 m-auto" method="post" role="form">
										<div class="row">
											<div class="form-group col-md-6 mb-3">
												<label for="inputname">Ф.И.О</label>
												<input type="text" class="form-control mt-1" id="name" name="name" placeholder="Ваше Ф.И.О">
											</div>
											<div class="form-group col-md-6 mb-3">
												<label for="inputemail">Email</label>
												<input type="email" class="form-control mt-1" id="email" name="email" placeholder="Ваш Email">
											</div>
										</div>
										<div class="mb-3">
											<label for="inputsubject">Заголовок</label>
											<input type="text" class="form-control mt-1" id="subject" name="subject" placeholder="Заголовок">
										</div>
										<div class="mb-3">
											<label for="inputmessage">Сообщение</label>
											<textarea class="form-control mt-1" id="message" name="message" placeholder="Сообщение" rows="8"></textarea>
										</div>
										<div class="row">
											<div class="col text-end mt-2">
												<button type="submit" class="btn btn-success btn-lg px-3">Отправить</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</form>
					</section>
			</div><!-- /#main-container -->
			<!-- Main Container End -->

			<!-- Side Bar -->
			<div id="left-sidebar" class="left-sidebar pull-left">
				<!-- do not delete this  --> 
			</div><!-- /#left-sidebar -->
			<!-- Side Bar End --> 

			<div id="scroll-to-top">
				<div class="go-to-top"> 
					<i class="fa fa-angle-double-up"></i>  
				</div><!-- /.go-to-top -->
			</div><!-- /#scroll-to-top -->
{% endblock index %}

{% endblock content %}
